     @charset "utf-8";
     body {
         width: 100%;
     }
     /* 版心 */
     
     .header-wrap,
     .naver-wrap,
     .banner-wrap,
     .newcase-wrap,
     .shop-wrap,
     .link-wrap,
     .footer-wrap {
         width: 1228px;
         margin: 0 auto;
     }
     /* header */
     
     #header {
         background: #333333;
         width: auto;
     }
     
     .header-wrap {
         height: 40px;
         font-size: 12px;
     }
     
     .header_l> {
         width: 900px;
         float: left;
     }
     
     .header_l>li {
         float: left;
         color: #b0b0b0;
         line-height: 40px;
         padding: 0 0px;
     }
     
     .header_l>li:nth-child(even) {
         color: #3c423c;
     }
     
     .header_l>li a {
         color: #b0b0b0;
         text-align: center;
         padding: 0 8px;
     }
     
     .header_l>li:nth-child(21) {
         position: relative;
     }
     
     .header_l>li:nth-child(21) span {
         position: absolute;
         border: 8px solid;
         border-color: transparent transparent white;
         left: 21px;
         bottom: 1px;
         display: none;
     }
     
     .header_l>li:nth-child(21):hover span {
         display: block;
     }
     
     .header_l>li:nth-child(21) div {
         position: absolute;
         width: 124px;
         box-shadow: 0 2px 2px 2px #bbb8b5;
         background: white;
         left: -34px;
         top: 40px;
         text-align: center;
         display: none;
         z-index: 99;
     }
     
     .header_l>li:nth-child(21) div img {
         margin: 10px auto 5px;
         width: 90px;
         height: 90px;
     }
     
     .header_l>li:hover a {
         color: white;
     }
     
     .header_l>li:last-child a {
         border: none;
     }
     
     .header_c {
         width: 100px;
         height: 40px;
         float: left;
     }
     
     .header_c>li {
         width: 100px;
         height: 40px;
     }
     
     .header_r {
         float: right;
         width: 290px;
     }
     
     .user {
         display: none;
         position: absolute;
         left: 840px;
         top: 0;
         width: 160px;
         height: 40px;
     }
     
     .user>li:nth-child(1) {
         float: left;
         width: 100px;
         height: 40px;
     }
     
     .user>li:nth-child(2) {
         cursor: pointer;
         float: left;
         width: 60px;
         height: 40px;
         font-size: 12px;
         line-height: 40px;
         color: #b0b0b0;
         text-align: center;
     }
     
     .user>li>a {
         width: 100px;
         font-size: 14px;
         line-height: 40px;
         color: white;
         text-align: center;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
     }
     
     .user>li>i {
         float: left;
         width: 20px;
         font-size: 20px;
         color: white;
         line-height: 40px;
     }
     
     .user>li>ul {
         display: none;
         position: absolute;
         left: 0px;
         top: 40px;
         width: 140px;
         height: 40px;
         background-color: red;
     }
     
     .user>li>ul>li {
         cursor: pointer;
         width: 140px;
         font-size: 14px;
         color: black;
         text-align: center;
         line-height: 40px;
     }
     
     .header_r>li {
         float: left;
         line-height: 40px;
         padding: 0 4px;
     }
     
     .header_r>li:nth-child(2),
     .header_r>li:nth-child(4) {
         color: #3c423c;
     }
     
     .header_r>li a {
         color: #b0b0b0;
     }
     
     .header_r>li:hover a {
         color: white;
     }
     
     .header_r>li:nth-child(3) a {
         border: none;
     }
     
     .header_r>li:last-child {
         position: relative;
     }
     
     .header_r>li:last-child a {
         margin: 0 0 0 15px;
         border: none;
         width: 120px;
         height: 40px;
         background: #424242;
         text-align: center;
         line-height: 40px;
     }
     
     .header_r>li:last-child:hover a {
         color: #fa8c0a;
         background: white;
     }
     
     .header_r>li:last-child div {
         width: 316px;
         height: 80px;
         box-shadow: 0 2px 2px 2px #bbb8b5;
         background: white;
         position: absolute;
         left: -178px;
         color: gray;
         line-height: 80px;
         text-align: center;
         display: none;
         z-index: 99;
     }
     /* nav&logo */
     
     .naver-wrap {
         height: 100px;
         position: relative;
     }
     /* logo */
     
     .nav_l {
         width: 55px;
         height: 55px;
         position: relative;
         left: 0;
         top: 22px;
         overflow: hidden;
     }
     
     .nav_l a {
         width: 55px;
         height: 55px;
     }
     
     .nav_l a img {
         position: absolute;
         width: 55px;
         height: 55px;
         transform: translateX(0px);
         top: 0;
         transition: .2s;
     }
     
     .nav_l a img:nth-child(2) {
         position: absolute;
         transform: translateX(-55px);
         transition: .2s;
     }
     
     .nav_l a:hover img:nth-child(1) {
         transform: translateX(55px);
     }
     
     .nav_l a:hover img:nth-child(2) {
         transform: translateX(0px);
     }
     /* nav */
     
     .nav_c {
         position: absolute;
         left: 188px;
         top: 0;
     }
     
     .nav_c>li {
         float: left;
         line-height: 100px;
         height: 100px;
         font-weight: 550;
     }
     
     .nav_c>li>a:nth-of-type(1) {
         padding-right: 18px;
         color: #333333;
     }
     
     .nav_c>li:hover>a:nth-of-type(1) {
         color: orange;
     }
     
     .nav_c1 {
         position: absolute;
         left: 688px;
         top: 0;
     }
     
     .nav_c1>li {
         float: left;
     }
     
     .nav_c1>li>a {
         height: 100px;
         font-weight: 550;
         color: #333333;
         padding-right: 18px;
         line-height: 100px;
     }
     
     .nav_c1>li:hover>a {
         color: orange;
     }
     /* 二级导航 */
     
     .nav_c li ul {
         position: absolute;
         left: -200px;
         width: 1228px;
         height: 250px;
         border-top: 1px solid rgb(182, 179, 179);
         box-shadow: 0 2px 0 0 #bbb8b5;
         display: none;
         z-index: 99;
         background-color: white;
     }
     
     .nav_c>li>ul>li {
         float: left;
         width: 200px;
         height: 250px;
     }
     
     .nav_c>li>ul>li>a {
         height: 250px;
         display: block;
         position: relative;
     }
     
     .nav_c>li>ul>li>a>img {
         position: absolute;
         left: 20px;
         top: 20px;
         width: 160px;
         height: 130px;
     }
     
     .nav_c>li>ul>li>a>h5 {
         position: absolute;
         font-size: 14px;
         color: black;
         text-align: center;
         width: 200px;
         height: 20px;
         bottom: 110px;
     }
     
     .nav_c>li>ul>li>a>p {
         position: absolute;
         font-size: 14px;
         color: #fa8c0a;
         text-align: center;
         width: 200px;
         bottom: 10px;
     }
     
     .nav_c li ul span {
         margin-top: 20px;
         float: left;
         height: 130px;
         width: 1px;
         background-color: gray;
     }
     /* headsearch */
     
     .nav_r {
         position: absolute;
         right: 0;
         top: 25px;
         width: 294px;
         height: 48px;
         border: 1px solid #9c9d9c;
     }
     
     .headSearch {
         position: relative;
         float: left;
         height: 46px;
         width: 237px;
         border-right: 1px solid #9c9d9c;
         padding: 2px 0 0 6px;
     }
     
     .headSearch>input {
         width: 220px;
         height: 40px;
         border: none;
         font-size: 18px;
         color: #6c6d6c;
     }
     
     .headSearch>a {
         position: absolute;
         font-size: 12px;
         color: #887575;
         top: 16px;
         background-color: #eeeeee;
     }
     
     .headSearch>a:hover {
         color: white;
         background-color: rgb(235, 143, 5);
     }
     
     .headSearch>a:nth-of-type(1) {
         right: 100px;
     }
     
     .headSearch>a:nth-of-type(2) {
         right: 10px;
     }
     
     .searchIcon {
         float: left;
         width: 50px;
         height: 48px;
         text-align: center;
         line-height: 52px;
     }
     
     .searchIcon:hover {
         background: rgb(235, 143, 5);
         color: white;
     }
     
     .searchIcon>span {
         font-size: 22px;
     }
     /* banner */
     
     .banner-wrap {
         height: 460px;
         position: relative;
         cursor: pointer;
     }
     
     .imgBox {
         width: 1228px;
         height: 460px;
     }
     
     .imgBox>img {
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         opacity: 0;
     }
     
     .imgBox>img:nth-child(1) {
         opacity: 1;
     }
     /* 小导航 */
     
     .snav {
         position: absolute;
         width: 234px;
         height: 420px;
         left: 0;
         top: 0;
         background-color: rgba(185, 180, 180, 0.5);
         z-index: 90;
         padding: 20px 0;
     }
     
     .snav>li {
         height: 42px;
         width: 234px;
     }
     
     .snav>li>a {
         position: relative;
         padding-left: 20px;
         color: white;
         font-size: 14px;
         text-align: left;
         line-height: 42px;
     }
     
     .snav>li:hover>a {
         background-color: rgb(236, 138, 10);
     }
     
     .snav>li>a>i {
         position: absolute;
         right: 20px;
     }
     /* 小导航的二级导航 */
     
     .snav>li>div {
         position: absolute;
         width: 990px;
         height: 460px;
         background-color: white;
         box-shadow: 2px 2px 3px 0 gray;
         left: 234px;
         top: 0;
         display: none;
     }
     
     .snav>li:nth-child(3)>div {
         width: 495px;
     }
     
     .snav>li:nth-child(7)>div {
         width: 495px;
     }
     
     .snav>li:nth-child(5)>div {
         width: 742px;
     }
     
     .snav>li:nth-child(6)>div {
         width: 742px;
     }
     
     .snav>li:nth-child(9)>div {
         width: 742px;
     }
     
     .snav>li:nth-child(10)>div {
         width: 742px;
     }
     
     .snav>li:hover>div {
         display: block;
     }
     
     .snav>li>div>ul {
         float: left;
     }
     
     .snav>li>div>ul>li {
         width: 247px;
         height: 76px;
     }
     
     .snav>li>div>ul>li>a {
         position: relative;
         width: 228px;
         height: 76px;
         padding-left: 20px;
         line-height: 76px;
         text-align: left;
     }
     
     .snav>li>div>ul>li>a>img {
         position: absolute;
         left: 20px;
         top: 50%;
         transform: translateY(-50%);
         width: 48px;
         height: 48px;
         float: left;
     }
     
     .snav>li>div>ul>li>a>span {
         font-size: 14px;
         position: absolute;
         left: 70px;
     }
     
     .snav>li>div>ul>li:hover>a {
         color: rgb(236, 138, 10);
     }
     /* 豆豆 */
     
     .douBox {
         position: absolute;
         right: 32px;
         bottom: 20px;
         width: 120px;
         height: 20px;
     }
     
     .douBox>li {
         float: left;
         width: 8px;
         height: 8px;
         background-color: #8e9898;
         margin: 5px 5px;
         border: 2px solid #b2baba;
         border-radius: 50%;
     }
     
     .douBox>li:nth-child(1) {
         background-color: white;
     }
     /* 箭头 */
     
     .arrowL {
         position: absolute;
         left: 234px;
         top: 50%;
         width: 40px;
         height: 80px;
         transform: translateY(-50%);
         color: #d3d6d6;
         text-align: center;
     }
     
     .arrowL:hover {
         background-color: rgba(48, 47, 47, .5);
     }
     
     .arrowL>i {
         line-height: 80px;
         font-size: 30px;
     }
     
     .arrowR {
         position: absolute;
         right: 0;
         top: 50%;
         width: 40px;
         height: 80px;
         transform: translateY(-50%);
         color: #d3d6d6;
         text-align: center;
     }
     
     .arrowR>i {
         line-height: 80px;
         font-size: 30px;
     }
     
     .arrowR:hover {
         background-color: rgba(48, 47, 47, .5);
     }
     /* newcase */
     
     .newcase-wrap {
         min-height: 170px;
         padding: 14px 0 26px;
     }
     
     .newcase_l {
         position: relative;
         width: 234px;
         height: 170px;
         background-color: #5f5750;
         float: left;
     }
     
     .one,
     .three {
         position: absolute;
         width: 64px;
         height: 1px;
         background-color: #665e57;
     }
     
     .newcase_l>li:nth-child(1) {
         top: 2px;
         left: 9px;
     }
     
     .newcase_l>li:nth-child(2) {
         top: 2px;
         left: 85px;
     }
     
     .newcase_l>li:nth-child(3) {
         top: 2px;
         right: 9px;
     }
     
     .newcase_l>li:nth-child(10) {
         top: 84px;
         left: 9px;
     }
     
     .newcase_l>li:nth-child(11) {
         top: 84px;
         left: 85px;
     }
     
     .newcase_l>li:nth-child(12) {
         top: 84px;
         right: 9px;
     }
     
     .two,
     .four {
         position: absolute;
         width: 1px;
         height: 70px;
         background-color: #665e57;
     }
     
     .newcase_l>li:nth-child(4) {
         top: 9px;
         left: 3px;
     }
     
     .newcase_l>li:nth-child(6) {
         top: 9px;
         left: 79px;
     }
     
     .newcase_l>li:nth-child(8) {
         top: 9px;
         right: 78px;
     }
     
     .newcase_l>li:nth-child(13) {
         top: 91px;
         left: 3px;
     }
     
     .newcase_l>li:nth-child(15) {
         top: 91px;
         left: 79px;
     }
     
     .newcase_l>li:nth-child(17) {
         top: 91px;
         right: 78px;
     }
     /* 内容 */
     
     .newcase-wrap .con {
         float: left;
         height: 62px;
         width: 75px;
         text-align: center;
         padding-top: 19px;
     }
     
     .newcase-wrap .con a {
         color: #cfccca;
     }
     
     .newcase-wrap .con:hover a {
         color: white;
     }
     
     .newcase-wrap .con a i {
         font-size: 20px;
     }
     
     .newcase-wrap .con a h4 {
         font-weight: bold;
         font-size: 12px;
     }
     
     .newcase_l>li:nth-child(5) {
         margin: 3px 0 0 4px;
     }
     
     .newcase_l>li:nth-child(7) {
         margin: 3px 0 0 1px;
     }
     
     .newcase_l>li:nth-child(9) {
         margin: 3px 0 0 1px;
     }
     
     .newcase_l>li:nth-child(14) {
         margin: 1px 0 0 4px;
     }
     
     .newcase_l>li:nth-child(16) {
         margin: 1px 0 0 1px;
     }
     
     .newcase_l>li:nth-child(18) {
         margin: 1px 0 0 1px;
     }
     
     .newcase_r {
         width: 992px;
         float: left;
     }
     
     .newcase_r>li {
         float: left;
         width: 316px;
         height: 170px;
         padding-left: 14px
     }
     
     .newcase_r>li>a {
         width: 316px;
         height: 170px;
     }
     
     .newcase_r>li>a>img {
         width: 100%;
         height: 100%;
     }
     /* shop */
     
     #shop {
         background-color: #f5f5f5;
     }
     
     .shop-wrap {
         padding: 22px 0;
     }
     
     .shop-wrap h2 {
         font-size: 22px;
         color: #333333;
         margin-bottom: 14px;
     }
     /* 闪购 */
     
     .mshop-wrap {
         min-height: 522px;
     }
     
     .mshop-wrap .mshop_l {
         float: left;
         width: 234px;
         height: 380px;
     }
     
     .counttime {
         width: 234px;
         height: 339px;
         border-top: 1px solid red;
         text-align: center;
         background-color: #f1eded;
     }
     
     .counttime>p:nth-of-type(1) {
         height: 26px;
         line-height: 26px;
         color: red;
         font-size: 26px;
         padding: 60px 0 30px;
     }
     
     .counttime>img {
         width: 34px;
         height: 53px;
         margin: 0 auto;
     }
     
     .counttime>p:nth-of-type(2) {
         font-size: 14px;
         color: #6f6d6d;
         line-height: 14px;
         padding: 34px 0 32px;
     }
     
     .counttime .timer {
         height: 46px;
         width: 168px;
         margin: 0 auto;
     }
     
     .counttime .timer span {
         display: block;
         width: 46px;
         height: 46px;
         line-height: 46px;
         font-size: 16px;
         text-align: center;
         background-color: #605751;
         color: white;
         float: left;
     }
     
     .counttime .timer i {
         float: left;
         width: 15px;
         height: 46px;
         font-size: 30px;
         line-height: 46px;
     }
     
     .mshop_r {
         float: left;
         width: 978px;
         padding-left: 14px;
     }
     
     .mshop_r>h5 {
         width: 71px;
         height: 24px;
         border: 1px solid #e0e0e0;
         font-size: 12px;
         margin: 6px 0 10px 907px;
     }
     
     .mshop_r>h5 span {
         float: left;
         display: block;
         height: 24px;
         width: 34px;
         text-align: center;
         line-height: 24px;
         color: #b0b2b7;
     }
     
     .mshop_r>h5 span:nth-child(1) {
         color: #e5f1f1;
     }
     
     .mshop_r>h5 span:nth-child(1) {
         border-right: 1px solid #e0e0e0;
     }
     
     .showBox {
         position: relative;
         width: 978px;
         height: 340px;
         overflow: hidden;
     }
     
     .showBox>ul {
         position: absolute;
         left: 0;
         top: 0;
         width: 3458px;
         height: 340px;
     }
     
     .showBox>ul>li {
         width: 234px;
         height: 339px;
         float: left;
         margin-right: 14px;
         background-color: white;
     }
     
     .showBox>ul>li:nth-child(1) {
         border-top: 1px solid orange;
     }
     
     .showBox>ul>li:nth-child(2) {
         border-top: 1px solid green;
     }
     
     .showBox>ul>li:nth-child(3) {
         border-top: 1px solid blue;
     }
     
     .showBox>ul>li:nth-child(4) {
         border-top: 1px solid red;
     }
     
     .showBox>ul>li:nth-child(5) {
         border-top: 1px solid rgb(29, 122, 243);
     }
     
     .showBox>ul>li:nth-child(6) {
         border-top: 1px solid orange;
     }
     
     .showBox>ul>li:nth-child(7) {
         border-top: 1px solid green;
     }
     
     .showBox>ul>li:nth-child(8) {
         border-top: 1px solid blue;
     }
     
     .showBox>ul>li:nth-child(9) {
         border-top: 1px solid red;
     }
     
     .showBox>ul>li:nth-child(10) {
         border-top: 1px solid green;
     }
     
     .showBox>ul>li:nth-child(11) {
         border-top: 1px solid blue;
     }
     
     .showBox>ul>li:nth-child(12) {
         border-top: 1px solid orange;
     }
     
     .showBox>ul>li:nth-child(13) {
         border-top: 1px solid blue;
     }
     
     .showBox>ul>li:nth-child(14) {
         border-top: 1px solid red;
     }
     
     .showBox>ul>li:last-child {
         margin: 0;
     }
     
     .showBox>ul>li>a>img {
         width: 160px;
         height: 160px;
         margin: 50px auto 10px;
     }
     
     .showBox>ul>li>a>h4 {
         height: 16px;
         line-height: 16px;
         font-size: 16px;
         color: #202020;
         text-align: center;
     }
     
     .showBox>ul>li>a>p:nth-of-type(1) {
         text-align: center;
         line-height: 12px;
         font-size: 12px;
         color: #adadad;
         padding-top: 6px;
     }
     
     .showBox>ul>li>a>p:nth-of-type(2) {
         text-align: center;
         line-height: 16px;
         font-size: 16px;
         color: #fa6509;
         padding-top: 20px;
     }
     
     .showBox>ul>li>a>p:nth-of-type(2)>span {
         text-decoration: line-through;
         color: #adadad;
     }
     /* 广告 */
     
     .allAdv {
         float: left;
         width: 1228px;
         height: 120px;
         margin: 22px 0 40px;
     }
     
     .allAdv>a>img {
         width: 100%;
         height: 100%;
     }
     /* 手机 */
     
     .allProduce {
         min-height: 854px;
         width: 1228px;
     }
     
     .allProduce .allLeft {
         float: left;
         width: 234px;
         height: 654px;
     }
     
     .phone_l>a {
         height: 614px;
         width: 234px;
     }
     
     .allLeft>a:hover {
         transform: translateY(-3px);
     }
     
     .phone_l>a>img {
         width: 100%;
         height: 100%;
     }
     
     .allRight {
         float: left;
         position: relative;
         width: 992px;
     }
     
     .allRight>h3 {
         float: left;
         width: 992px;
         margin-bottom: 20px;
         font-size: 16px;
         line-height: 20px;
         font-weight: bold;
     }
     
     .allRight>h3>a {
         color: #424242;
     }
     
     .phone_r>h3>a>p {
         padding-left: 886px;
         float: right;
     }
     
     .phone_r>h3>a>i {
         float: right;
         font-size: 20px;
         line-height: 20px;
     }
     
     .phone_r>h3:hover>a {
         color: rgb(248, 133, 1);
     }
     
     .allRight>ul {
         top: 40px;
         position: absolute;
         float: left;
         min-height: 614px;
         padding-top: 4px;
         width: 992px;
     }
     
     .allRight>ul>li {
         background-color: white;
         width: 234px;
         height: 300px;
         float: left;
         margin: 0 0 14px 14px;
     }
     
     .allRight>ul>li:hover {
         transform: translateY(-3px);
         box-shadow: 0 5px 5px 2px rgb(189, 185, 185);
     }
     
     .allRight>ul>li>a>img {
         width: 160px;
         height: 160px;
         margin: 22px auto 18px;
     }
     
     .allRight>ul>li>a>h4 {
         height: 16px;
         line-height: 16px;
         font-size: 16px;
         color: #202020;
         text-align: center;
     }
     
     .allRight>ul>li>a>p:nth-of-type(1) {
         text-align: center;
         line-height: 12px;
         font-size: 12px;
         color: #adadad;
         padding-top: 10px;
     }
     
     .allRight>ul>li>a>p:nth-of-type(2) {
         text-align: center;
         line-height: 16px;
         font-size: 16px;
         color: #fa6509;
         padding-top: 20px;
     }
     
     .allRight>ul>li>a>p:nth-of-type(2)>span {
         text-decoration: line-through;
         color: #adadad;
     }
     /* 家电 */
     
     .houseE_l>a {
         height: 300px;
         width: 234px;
         margin-bottom: 14px;
     }
     
     .allTit>a>p {
         float: right;
         margin-left: 12px;
     }
     
     .allTit>a>p:nth-child(2) {
         border-bottom: 3px solid rgb(248, 133, 1);
         color: rgb(248, 133, 1);
     }
     
     .allRight>ul:nth-of-type(2) {
         display: none;
     }
     /* 最后一个盒子 */
     
     .allRight>ul>.lasttwobox,
     .allRight>ul>.lastbox {
         width: 234px;
         height: 143px;
     }
     
     .allRight>ul>.lasttwobox {
         position: relative;
         line-height: 16px;
         font-size: 16px;
     }
     
     .allRight>ul>.lasttwobox>a>img {
         position: absolute;
         width: 80px;
         height: 80px;
         right: 10px;
         top: 10px;
     }
     
     .allRight>ul>.lasttwobox>a>h4 {
         padding: 44px 0 0 30px;
         width: 100px;
         height: 40px;
         color: #202020;
     }
     
     .allRight>ul>.lasttwobox>a>p {
         text-align: left;
         width: 80px;
         margin-left: 42px;
         font-size: 16px!important;
         color: #fa6509!important;
     }
     
     .allRight>ul>.lastbox {
         position: relative;
     }
     
     .allRight>ul>.lastbox>a>h4 {
         width: 72px;
         height: 20px;
         font-size: 18px;
         line-height: 20px;
         margin: 54px 0 0 30px;
     }
     
     .allRight>ul>.lastbox>a>p {
         text-align: left!important;
         width: 80px;
         margin: 0px 0 0 30px;
     }
     
     .allRight>ul>.lastbox>a>i {
         position: absolute;
         right: 36px;
         top: 48px;
         font-size: 56px;
         color: #fa6509;
     }
     /* links */
     
     .link-wrap {
         height: 326px;
         padding: 32px 0 17px;
     }
     
     .link-wrap>.link_t {
         padding-bottom: 33px;
         height: 33px;
     }
     
     .link-wrap>.link_t>li {
         float: left;
         width: 244px;
         height: 30px;
         border-right: 1px solid #e0e0e0;
     }
     
     .link-wrap>.link_t>li:last-child {
         border: none;
     }
     
     .link-wrap>.link_t>li>a {
         text-align: center;
         font-size: 18px;
         color: #616161;
         line-height: 30px;
     }
     
     .link-wrap>.link_t>li>a:hover {
         color: orangered;
     }
     
     .link-wrap>.link_t>li>a>i {
         font-size: 26px;
     }
     
     .link-wrap>hr {
         height: 1px;
         background-color: #e0e0e0;
         margin: 0;
         border: none;
         margin-bottom: 47px;
     }
     
     .link-wrap>.link_h {
         width: 163px;
         float: left;
     }
     
     .link-wrap>.link_h>li:nth-child(1) {
         font-size: 16px;
         color: #424242;
         line-height: 16px;
         padding-bottom: 26px;
     }
     
     .link-wrap>.link_h>li>a {
         font-size: 14px;
         line-height: 34px;
         color: #757575;
     }
     
     .link-wrap>ul:last-child {
         float: left;
         width: 180px;
         height: 132px;
         border-left: 1px solid #a1a1a1;
         padding-left: 66px;
     }
     
     .link-wrap>ul:last-child>li:nth-child(1) {
         font-size: 20px;
         line-height: 20px;
         color: #ff6700;
     }
     
     .link-wrap>ul:last-child>li:nth-child(2) {
         font-size: 14px;
         color: #616161;
         line-height: 14px;
         padding: 14px 0 10px;
     }
     
     .link-wrap>ul:last-child>li:nth-child(3) {
         width: 141px;
         height: 34px;
         border: 1px solid #ff6700;
         margin: 0 0 10px 13px;
     }
     
     .link-wrap>ul:last-child>li:nth-child(3):hover {
         background-color: #ff6700;
     }
     
     .link-wrap>ul:last-child>li:nth-child(3)>a {
         text-align: center;
         line-height: 34px;
         color: #ff6700;
         font-size: 12px;
     }
     
     .link-wrap>ul:last-child>li:nth-child(3):hover>a {
         color: white;
     }
     
     .link-wrap>ul:last-child>li:nth-child(4) {
         position: relative;
         font-size: 12px;
         color: #616161;
     }
     
     .link-wrap>ul:last-child>li:nth-child(4)>a {
         color: #616161;
     }
     
     .link-wrap>ul:last-child>li:nth-child(4)>a>i:hover {
         color: #ff6700;
     }
     
     .link-wrap>ul:last-child>li:nth-child(4)>a>i {
         position: absolute;
         font-size: 30px;
         bottom: -16px;
     }
     
     .link-wrap>ul:last-child>li:nth-child(4)>a>i:nth-of-type(1) {
         left: 60px;
     }
     
     .link-wrap>ul:last-child>li:nth-child(4)>a>i:nth-of-type(2) {
         bottom: -20px;
         left: 100px;
     }
     
     .link-wrap>ul:last-child>li:nth-child(4)>a>div {
         position: absolute;
         left: 30px;
         bottom: -140px;
         width: 126px;
         height: 126px;
         display: none;
     }
     
     .link-wrap>ul:last-child>li:nth-child(4)>a>div>img {
         width: 100%;
         height: 100%;
     }
     /* footer */
     
     #footer {
         background-color: #f5f5f5;
     }
     
     .footer-wrap {
         height: 214px;
         padding: 36px 0;
     }
     
     .footer_l {
         width: 80px;
         height: 148px;
         float: left;
     }
     
     .footer_l>img {
         width: 68px;
         height: 68px;
     }
     
     .footer_c {
         float: left;
         height: 148px;
         width: 1148px;
     }
     
     .footer_c>p {
         line-height: 18px;
         font-size: 12px;
         color: #b0b0b0;
     }
     
     .footer_c>p:nth-child(1) {
         height: 15px;
         padding-bottom: 4px;
     }
     
     .footer_c>p:nth-child(1)>a {
         float: left;
         border-right: 1px solid #b7b0c1;
         padding: 0 4px;
         font-size: 14px;
         line-height: 15px;
         color: #757575;
     }
     
     .footer_c>p:nth-child(1)>a:last-child {
         border: none;
     }
     
     .footer_c>p:nth-child(2)>a {
         display: inline;
         font-size: 12px;
         color: #b0b0b0;
     }
     
     .footer_c>p:nth-child(3) {
         padding-top: 6px;
     }
     
     .footer_c>p:nth-child(3)>a {
         float: left;
         width: 100px;
         height: 34px;
     }
     
     .footer_c>p:nth-child(3)>a>img {
         width: 100%;
         height: 100%;
     }
     
     .footer_f {
         margin: 30px 0;
         float: left;
         width: 1228px;
         height: 36px;
     }
     
     .footer_f>img {
         width: 400px;
         height: 24px;
         margin: 0 auto;
     }
     
     .footer_c>p>a:hover {
         color: orangered;
     }