@charset "utf-8";

/* 版心 */

.sdetails-wrap,
.pholast-wrap,
.pholast-wrap {
    width: 1228px;
    margin: 0 auto;
}

.dnav_c {
    float: right;
}

.sdetails-wrap {
    padding-top: 40px;
    height: 878px;
}

.sdetails_l {
    float: left;
    width: 606px;
    height: 600px;
}

.sdetails_l>img {
    width: 560px;
    height: 560px;
}

.sdetails_r {
    float: right;
    width: 606px;
    height: 878px;
}

.sdetails_r>h2 {
    font-size: 24px;
    color: #212121;
}

.sdetails_r>p:nth-of-type(1) {
    padding-top: 8px;
    font-size: 14px;
    color: #B0B0B0;
}

.sdetails_r>p:nth-of-type(2) {
    font-size: 14px;
    color: #ff6700;
    margin-top: 14px;
}

.sdetails_r>p:nth-of-type(3) {
    padding: 12px 0 20px;
    color: #ff6700;
    font-size: 18px;
}

.sdetails_r>p:nth-of-type(3)>span {
    font-size: 18px;
}

.sdetails_r>div:nth-of-type(1) {
    margin: 40px 0;
    width: 516px;
    height: 44px;
    padding: 30px 40px 30px 50px;
    background-color: #fafafa;
    font-size: 14px;
    color: #333333;
}

.sdetails_r>div:nth-of-type(1)>p:nth-of-type(1)>span,
.sdetails_r>div:nth-of-type(1)>p:nth-of-type(2) {
    color: #ff6700;
}

.sdetails_r>div:nth-of-type(2)>h5 {
    font-size: 18px;
    color: #333333;
}

.sdetails_r>div:nth-of-type(2)>a {
    width: 300px;
    height: 44px;
    border: 1px solid #ff6700;
    margin: 15px 0 0 6px;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    color: #ff6700;
}

.sdetails_r>ul:nth-of-type(1) {
    width: 546px;
    height: 80px;
    margin: 30px 0 30px;
    padding: 30px;
    background-color: #f9f9f9;
}

.sdetails_r>ul:nth-of-type(1)>li:nth-child(1) {
    font-size: 14px;
    color: #616161;
}

.sdetails_r>ul:nth-of-type(1)>li:nth-child(1)>p {
    float: right;
}

.sdetails_r>ul:nth-of-type(1)>li:nth-child(2) {
    font-size: 20px;
    color: #ff6700;
    padding-top: 20px;
}

.sdetails_r>div:nth-of-type(3) {
    width: 300px;
    height: 54px;
    margin: 10px 0 20px;
}

.sdetails_r>div:nth-of-type(3)>input {
    cursor: pointer;
    border: none;
    color: white;
    background-color: #ff6700;
    font-size: 16px;
    width: 300px;
    height: 54px;
}

.sdetails_r>ul:nth-of-type(2) {
    width: 606px;
    height: 82px;
}

.sdetails_r>ul:nth-of-type(2)>li {
    float: left;
    font-size: 14px;
    color: #b0b0b0;
    padding: 0 25px 10px 0;
}

#pholast {
    background-color: #f5f5f5;
}

.pholast-wrap {
    height: 316px;
    margin-bottom: 50px;
}

.pholast-wrap>img {
    width: 100%;
    height: 100%;
}